.tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    border: 1px solid green;
    border-radius: 15px;

    box-shadow: 2px 2px 8px 4px;
    font-family: sans-serif;
}
.titulo {
    font-size: 24px;
    padding: 10px 10px 0 10px ;

}
.cuerpo{
    padding: 10px;
}

img{
    border-radius: 50%;
    width:  400px;
    height: 400px
}

.h1{
    text-align: center;
    
}
#item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}